<!DOCTYPE HTML>
<html>
<head>
<title>微信营销宝</title>
<link rel="SHORTCUT ICON" href="images/star.ico">
<link href="./bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="./jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./popper.min.js"></script>
<script type="text/javascript" src="./bootstrap.min.js"></script>
<script type="text/javascript" src="./socket.io.js"></script>
<script type="text/javascript" src="./keeper.js"></script>
<script type="text/javascript" src="./config.js"></script>

<style>
* {
	margin:0;
	padding:0;
}
body {
	font-size:24px;
	font-weight: bold;
	color:#D0CCCC;
	overflow:hidden;
	background-color: #000;
	background:url(./bg.svg);
	background-size:cover;
}
.black {
	color: #000000;
}
</style>
</head>
<body>
 
<canvas height="100%" width="100%" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1;"  id="canvas"></canvas>
<!--script type="text/javascript" src="./bg.js"></script-->
<div class="container mt-5" >
	<div class="row"><div id="thx" class="black m-5 mx-auto"><%= thx %></div></div>
	<div class="row"><div id="qr" class="black mx-auto text-center d-none" data-uid="<%= uid %>" data-ad="<%= ad %>"><img class="col-6"></div></div>
	<div class="row"><div id="wel" class="black m-5 mx-auto d-none"><%= wel %></div></div>
</div>
</body>
</html>