<!DOCTYPE HTML>
<html>
<head>
<title>微信营销宝</title>
<link rel="SHORTCUT ICON" href="images/star.ico">
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script type="text/javascript" src="sign.js"></script>
</head>
<body>
<div class="container">
	<img src="./qr/<%= uid %>">
	<div>常按微信识别二微码，跳转到店家<i class="text-danger"><%= name %></i>的推广网址</div>
</div>
</body>
</html>
