<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信营销宝</title>
<link href="./bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="./jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./jquery.cookie.min.js"></script>
<script type="text/javascript" src="./popper.min.js"></script>
<script type="text/javascript" src="./bootstrap.min.js"></script>
<script type="text/javascript" src="./sign.js"></script>
<script type="text/javascript" src="./config.js"></script>

<style>
* {
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
}
body {
	font-size:16px;
	overflow:hidden;
	background-color: #000;
}
.bg1 {
	background-color:#ffff00
}
.bg2 {
	background-color:#ffc829
}
.bg3 {
	background-color:#ff963c
}
.bg4 {
	background-color:#d9f253
}
.bg5 {
	background-color:#4ef3fe
}
.big-font {
	font-size:6rem;
}
.p-big {
	padding:2.0rem;
	margin-left: -3.5rem;
	cursor: pointer;
}

.black {
  color: #000000;
}
.red {
  color: #ff0000;
}

.h-20 {
	height: 20% !important;
}
</style>
</head>
<body>
 
<canvas height="100%" width="100%" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1;"  id="canvas"></canvas>
<!--script type="text/javascript" src="./bg.js"></script-->
<div style="overflow: scroll; -webkit-overflow-scrolling: touch;">
	<div class="h-20 row m-0 bg1"><div class="text-center text-white font-weight-bold col-3 big-font">1</div><div class="col-9 black pt-4" >赤兔马营销机是为帮助商家进线下推广的利器</div></div>
	<div class="h-20 row m-0 bg2"><div class="text-center text-white font-weight-bold col-3 big-font">2</div><textarea id="ad" class="border-0 col-8 bg2 black  pt-4 pr-4" >点击此处，填写你所需要在微信推广中呈现的广告词，如：达美向你推荐，即日起至23日，购买经典系列披萨，享85折优惠，地址:上海宝山区汶水路888号。</textarea><div class="text-center col-1 p-1" onclick="(function(){$('#ad').html('');})()"><img src="./clear.svg"></div></div>
	<div class="h-20 row m-0 bg3"><div class="text-center text-white font-weight-bold col-3 big-font">3</div><textarea id="thx" type="text" class="border-0 col-8 bg3 black pt-4 pr-4">点击此处，填写你所需要在赤兔马营销机扫码页面的致谢词，如：感谢你帮助推广，微信扫码以下二维码，即日起至23日，享8折优惠。</textarea><div class="text-center col-1 p-1" onclick="(function(){$('#ad').html('');})()"><img src="./clear.svg"></div></div>
	<div class="h-20 row m-0 bg4"><div class="text-center text-white font-weight-bold col-3 big-font">4</div><textarea id="wel" type="text" class="border-0 col-8 bg4 black pt-4 pr-4">点击此处，填写你所需要在赤兔马营销机扫码推广完成页面的致谢词，如：感谢你惠顾，请领取优惠券。</textarea><div class="text-center col-1 p-1"><img src="./clear.svg" onclick="(function(){$('#ad').html('');})()"></div></div>
	<div class="h-20 row m-0 bg5"><div class="text-center text-white font-weight-bold col-3 big-font">5</div><div onclick="build()" class="col-9 black p-big"><img class="p-2" src="./next.svg"></div></div>
	<div class="h-20 row m-0 bg1 d-none" id="uid"  data-uid="<%= uid %>"><div class="text-center text-white font-weight-bold col-3 big-font">6</div><div class="black col-3 pt-4">你的推广地址：</div><a class="pt-4 col-6" href="#" target="_blank"></a></div>
	<div class="h-20 row m-0 bg2 d-none" id="qr"><div class="text-center text-white font-weight-bold col-3 big-font">7</div><div id="qr" class="black col-3 pt-4">你的推广二维码：</div><img class="col-auto  border-0"></div>
</div>
</body>
</html>